@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@300;400;500;700&display=swap");
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.919);
  cursor: pointer;
  border-radius: 10cm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.919);
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  /* cursor: default; */
  /* -webkit-user-select: none; */
  /* user-select: none; */
}
p {
  margin: 0;
  padding: 0;
}
a,
.logo a {
  text-decoration: none;
}
.nav-bar {
  top: 0%;
  height: 65px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.logo {
  text-decoration: none;
  position: absolute;
  left: 30px;
}
.nav-list {
  font-size: 13pt;
  font-weight: 550;
  position: absolute;
  right: 80px;
}
.nav-list a {
  border-radius: 10px;
  padding: 7px 20px;
  color: black;
  /* margin-left: 15px; */
  text-decoration: none;
}
.nav-list a:hover {
  background-color: rgba(209, 252, 255, 0.774);
}
.cordinator-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.cordinators {
  display: flex;
  flex-direction: row;
}
.firsts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.first p,
.leaders p {
  padding-top: 5px;
  font-size: 13pt;
  font-weight: 400;
  font: poppins;
}
.first-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* .Mampurampada {
  background-color: yellow;
} */
.about {
  box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  border-radius: 45px;
  height: 50vh;
  padding: 20px 35px;
  margin: 50px;
  overflow: hidden;display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .resultcheck{
  text-decoration: none;
  color: white;
  border-radius: 30px;
  padding: 15px 20px;
  background-color: rgb(0, 120, 233);
  font-size: 25pt;
  transition:all .5s ease-in-out;
}
.about .resultcheck:hover{
  background-color: rgb(0, 91, 177);
}
.organizer-1 {
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #0e47a1;
}
.organizer-2 {
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #b05800;
}
.Mampurampada,
.Pookoturpada,
.Malappurampada,
.Cherurpada {
  /* height: 50vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 25px;
  box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  border-radius: 45px; */
}
.second {
  margin: 15px;
  padding: 25px;
  box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 0px 35px 2px rgba(0, 0, 0, 0.53);
  border-radius: 45px;
}
.teams,
.leaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff0000;
  color: #ff0000;
  box-shadow: 9999px 0 0 -5px #ff0000;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #ff0000;
  }
  30% {
    box-shadow: 9999px 0 0 0px #ff0000;
  }
  70%,
  100% {
    box-shadow: 9999px 0 0 -5px #ff0000;
  }
}

hr {
  margin-block: 0%;
  margin-inline: 0%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
footer img{
  height: 7%;
  width: 7%;
}
.header-mini{
  display: none;
}

.fa {
  font-size: 22px;
}

/* back top btn end */
.icon {
  color: rgb(0, 0, 0);
  font-size: 18pt;
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icon.menu-btn {
  position: absolute;
  right: 20px;
  transition: all 0.5s ease-in-out;
}
.icon.cancel-btn {
  /* color: white; */
  position: absolute;
  right: 40px;
  top: 20px;
  transition: all 0.5s ease-in-out;
}
.hide {
  display: none;
  transition: all 0.5s ease-in-out;
}
.sabeel{
  font-size: 15pt;
  font-weight: 500;
}

.footer-credit{
  padding: 7px 0; 
  font-size: 7pt;
}
address{
  font-size: 6pt;
}
@media screen and (max-width: 1024px){
  .cordinator-container{
    flex-direction: column;
  }
  .first-group{
    flex-direction: column;
  }
  .cordinators{
    flex-direction: column;
  }
  .Cherurpada,.Malappurampada,.Mampurampada,.Pookoturpada{
    padding: ;
  }

}
@media screen and (max-width: 800px) {
  .nav-bar{
    display: none;
  }
 .header-mini{
  top: 0%;
  height: 65px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  width: 100%;
  background-color: rgb(255, 255, 255);
 }
 .icon.menu-btn{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 body.disablescroll{
  overflow: hidden;
}
.container .navlinks {
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  color: black;
  max-width: 450px;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 40px 0; */
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.container .navlinks.active {
  left: 0%;
}
.navlinks a {  color: black;
  /* list-style: none; */
  border-radius: 15px;
  padding: 20px 30px;
  font-size: 15pt;
}
.navlinks a:hover{
  background-color: rgba(209, 252, 255, 0.774);

  color: rgb(31, 31, 31);
}
.sabeel{
  font-size: 13pt;
}
.footer-credit{
  font-size: 7pt;
}
.address{
  font-size: 8pt;
}
footer img{
  height: 18%;
  width: 18%;
}
 
}



@media (max-width: 500px) {
  
}
